run = "SUNBEAM_LOG_FILE=$PWD/debug.log go run main.go"
hidden = ["Makefile", "main"]

[env]
PATH = "$HOME/go/bin:$PATH"

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "unstable"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
