package main

import (
	"encoding/json"
	"os"
)

func main() {
	json.NewEncoder(os.Stdout).Encode(map[string]any{
		"type": "detail",
		"preview": map[string]any{
			"text": "Hello, World!",
		},
		"actions": []map[string]any{
			{
				"type":  "copy",
				"title": "Copy",
				"text":  "Hello, World!",
			},
		},
	})
}
